*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
.konstrut{
    color: azure;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.navbar{
    background-image:url(bg.png);
    height: 769px;
}
.big-text{
    margin-top: 300px;
    color: white; 
    text-align: center;
    font-family: BebasNeueBold;
    font-size: 60px;
    line-height: 70.31px;
    letter-spacing: 5.71px;
    text-align: center;
}
.text{
    color: white;
    width: 386;
    height: 22;
    top: 439px;
    left: 527.5px;
    width: 386;
    height: 22;
    top: 439px;
    left: 527.5px;
    text-align: center;
}
.yoz{
    color: whitesmoke;
    text-align: center;
    margin-top: 300px;
}
.na{
    margin-left: 170px;
}
.sav{
    display: flex;
}
.lov{
    display: flex;
    margin-left: 770px;
    gap: 15px;
}
.false{
    margin-top: 50px;
    text-align: center;
}
.tru{
    margin-top: 57px;
}
.goal{
    margin-top: 57px;
margin-left: 715px;
}
.h1{
    margin-top: 57px;
}
.lllllll7{
    margin-left: 157px;

}
.yashil{
    background-color: blue;
}
.lllllll7{
    display: flex;
    justify-content: space-around;
}
.lro{
    margin-top:  57px; ;
}
.but{
    margin-top: 57px;
}
.doffed{
    margin-top: 170px;
}
.ars{
    margin-top: 17px;
}
.mal{
    margin-top: 17px;
}
.h11{
    margin-top: 17px;
}
.barchasi{
    display: flex;
    gap: 17px;
}
.olma{
    width: 30px 17px 23px 37px;
}